---
import Layout from "../layouts/BaseLayout.astro";
tags: ['jeff']
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date("August 08 2021")}
	updatedDate={new Date("August 08 2022")}
>	<h1>About me</h1>
	<p>
		I started programming video games in middle school with Java and
		eventually C++. What started merely as a hobby eventually grew into a
		deep curiosity for software and how it was made. The idea of building
		something and seeing it be used in a meaningful way by others is what
		drove me to pursue this career path.
	</p>
	<p>
		I was thrilled to learn about the Turing bootcamp from a friend who had
		great success in the program. They were aware of my interest technology,
		and encouraged me to attend, saying it was the perfect place to hone my
		programming skills and kickstart my career in web development.
	</p>
	<p>
		During the program, I was exposed to a wide range of coding languages
		and had to familiarize myself with a number of new technologies as well
		as an entirely new framework. It has been a challenging but incredibly
		rewarding experience to see my coding skills improve and to develop a
		deeper understanding of how to build user-friendly, functional websites.
	</p>
	<p>
		I particularly enjoyed the collaborative nature of the program. Working
		alongside my peers to solve complex problems and build effective
		solutions is incredibly rewarding. I am excited to continue learning and
		growing as a developer and look forward to exploring new technologies
		and ways to make a positive impact through my work.
	</p>
</Layout>
