---
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<BaseLayout pageTitle={SITE_TITLE} pageDescription={SITE_DESCRIPTION}>
    <div id="bio">
        <h2 class="howdy">Howdy!</h2>
        <p>I’m a Northern Virgina based web developer, recently graduated from the Turing School of Software & Design, and interested in creating meaningful impact through the code I write. With a self-taught background in game programming and my interest in Linux, playing with emerging tech and solving problems and creating memories with it is my jam.</p>
        <p>Let’s connect!</p>
    </div>
</BaseLayout>
