---
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<BaseLayout pageTitle={SITE_TITLE} pageDescription={SITE_DESCRIPTION}>
	<h3>Howdy, welcome to my <a href="https://github.com/MatisseMallette/matisse-codes">wip</a> portfolio site, built using <a href="https://github.com/withastro/astro">Astro</a>!</h3>
</BaseLayout>
